// COLOR
$color-primary: #ffb900;

$color-primary-light: #e4c673;
$color-primary-dark: #ff7730;

// $color-secondary-light: Need-to-Find;
// $color-secondary-dark: Need-to-Find;

// $color-tertiary-light:  Need-to-Find;
// $color-tertiary-dark:   Need-to-Find;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
