.navigation {
  position: relative;
  z-index: 99999;
  font-size: 1.7rem;
  text-transform: uppercase;
  &__checkbox {
    display: none;
  }
  &__nav {
    position: absolute;
    right: 0;
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
  }
  &__link {
    color: $color-white;
    text-decoration: none;
    margin-right: 4rem;
  }
}
